/* mat-mdc-text-field-wrapper {
    width: 180%;
} */

mat-form-field {
 width: 180%; 
}

mat-mdc-text-field-wrapper mdc-text-field ng-tns-c1205077789-0 mdc-text-field--filled {
    width: 180%;
}